consumo clima/ConsumoClima/Web References/serverweather/clima-ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectAllCity">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllCityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectListCity">
        <s:complexType />
      </s:element>
      <s:element name="SelectListCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectListCityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCityById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCityByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCityByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPronostic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_ciudad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_clima" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="velocidad_viento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="temperatura" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Posibilidad_lluvia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion_viento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPronosticResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertPronosticResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePronostic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_ciudad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_clima" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="velocidad_viento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="temperatura" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Posibilidad_lluvia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion_viento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePronosticResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePronosticResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserws">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasenia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserwsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateUserwsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectAllCitySoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllCity" />
  </wsdl:message>
  <wsdl:message name="SelectAllCitySoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllCityResponse" />
  </wsdl:message>
  <wsdl:message name="SelectListCitySoapIn">
    <wsdl:part name="parameters" element="tns:SelectListCity" />
  </wsdl:message>
  <wsdl:message name="SelectListCitySoapOut">
    <wsdl:part name="parameters" element="tns:SelectListCityResponse" />
  </wsdl:message>
  <wsdl:message name="SelectCityByIdSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCityById" />
  </wsdl:message>
  <wsdl:message name="SelectCityByIdSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCityByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPronosticSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPronostic" />
  </wsdl:message>
  <wsdl:message name="InsertPronosticSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPronosticResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePronosticSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePronostic" />
  </wsdl:message>
  <wsdl:message name="UpdatePronosticSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePronosticResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateUserwsSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUserws" />
  </wsdl:message>
  <wsdl:message name="ValidateUserwsSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserwsResponse" />
  </wsdl:message>
  <wsdl:portType name="clima_wsSoap">
    <wsdl:operation name="SelectAllCity">
      <wsdl:input message="tns:SelectAllCitySoapIn" />
      <wsdl:output message="tns:SelectAllCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectListCity">
      <wsdl:input message="tns:SelectListCitySoapIn" />
      <wsdl:output message="tns:SelectListCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectCityById">
      <wsdl:input message="tns:SelectCityByIdSoapIn" />
      <wsdl:output message="tns:SelectCityByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPronostic">
      <wsdl:input message="tns:InsertPronosticSoapIn" />
      <wsdl:output message="tns:InsertPronosticSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePronostic">
      <wsdl:input message="tns:UpdatePronosticSoapIn" />
      <wsdl:output message="tns:UpdatePronosticSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUserws">
      <wsdl:input message="tns:ValidateUserwsSoapIn" />
      <wsdl:output message="tns:ValidateUserwsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="clima_wsSoap" type="tns:clima_wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAllCity">
      <soap:operation soapAction="http://tempuri.org/SelectAllCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectListCity">
      <soap:operation soapAction="http://tempuri.org/SelectListCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCityById">
      <soap:operation soapAction="http://tempuri.org/SelectCityById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPronostic">
      <soap:operation soapAction="http://tempuri.org/InsertPronostic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePronostic">
      <soap:operation soapAction="http://tempuri.org/UpdatePronostic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserws">
      <soap:operation soapAction="http://tempuri.org/ValidateUserws" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clima_wsSoap12" type="tns:clima_wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAllCity">
      <soap12:operation soapAction="http://tempuri.org/SelectAllCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectListCity">
      <soap12:operation soapAction="http://tempuri.org/SelectListCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCityById">
      <soap12:operation soapAction="http://tempuri.org/SelectCityById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPronostic">
      <soap12:operation soapAction="http://tempuri.org/InsertPronostic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePronostic">
      <soap12:operation soapAction="http://tempuri.org/UpdatePronostic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserws">
      <soap12:operation soapAction="http://tempuri.org/ValidateUserws" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clima_ws">
    <wsdl:port name="clima_wsSoap" binding="tns:clima_wsSoap">
      <soap:address location="https://localhost:44313/clima-ws.asmx" />
    </wsdl:port>
    <wsdl:port name="clima_wsSoap12" binding="tns:clima_wsSoap12">
      <soap12:address location="https://localhost:44313/clima-ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>